/**
 * Typography
 */
/**
 * Web fonts
 */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: bold;
  src: local('Dancing Script Bold'), local('DancingScript-Bold'), url('http://themes.googleusercontent.com/static/fonts/dancingscript/v2/KGBfwabt0ZRLA5W1ywjowQr4FYEmOdWJS9Fc8b-cYmo.woff') format('woff');
}
/**
 * Standard serif, sans-serif, script and monospace
 */
.sans {
  font-family: sans-serif, monospace;
}
.serif {
  font-family: Georgia, 'Times New Roman', serif;
}
.script {
  font-family: 'Dancing Script', cursive;
}
/**
 * Let's get the font readable to everyone by respect browser settings
 */
html {
  font-size: 16px;
}
html body {
  font: normal normal 400 100%/140% Georgia, 'Times New Roman', serif;
}
/**
 * Normalize
 *
 * Here we re-define browser defaults to something much prettier.
 * When we say "normalize", it means normalize for this website
 */
/**
 * Heading sizes
 *
 * IE have different heading font sizes and they are very annoying
 */
h1 {
  font-size: 200%;
}
h2 {
  font-size: 180%;
}
h3 {
  font-size: 150%;
}
h4 {
  font-size: 130%;
  font-weight: 700;
}
h5 {
  font-size: 120%;
  text-decoration: underline;
}
h6 {
  font-size: 100%;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/**
 * Anchor tags
 */
a {
  color: #000;
  text-decoration: none;
  letter-spacing: -0.03em;
  font-weight: 700;
}
a:hover {
  color: #b00;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li, ol li {
  margin: 0;
  padding: 0;
}
/**
 * Layout scaffolding
 */
body {
  margin: 1.5em auto;
  max-width: 510px;
  position: relative;
  background-color: #eee;
  -webkit-hyphens: auto;
}
h1, h2 {
  font-family: 'Dancing Script', cursive;
  color: #b00;
}
h1,
h2,
h3,
p,
li {
  margin: 1.5em 0 0;
  text-shadow: 0 1px white;
}
/* Header */
hgroup {
  font-size: 180%;
  line-height: .8;
  text-align: center;
}
hgroup h1, hgroup h2 {
  margin: 0 auto 0.2em;
}
hgroup > h1 {
  font-family: sans-serif, monospace;
  letter-spacing: -0.06em;
  text-transform: lowercase;
  color: #000;
}
hgroup > h1::before {
  content: '';
  background: transparent url(../images/robohash-hongymagic.png) no-repeat top left;
  display: block;
  margin: 0 auto 0.2em;
  width: 76px;
  height: 76px;
}
hgroup > h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 100%;
  margin: 0;
  color: #b00;
}
ul li a {
  margin: 1em 0;
  border: 10px solid #fff;
  padding: 0;
  display: block;
  position: relative;
}
ul li a img {
  width: 100%;
}
ul li a h3 {
  font-family: sans-serif, monospace;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 250%;
  display: block;
  background-color: #fff;
  opacity: 0.75;
  color: #000;
}
#toc {
  text-align: center;
}
#toc li {
  font-family: sans-serif, monospace;
}
@media only screen and (min-width: 780px) {
  #toc {
    margin-left: -510px;
    width: 11em;
    position: fixed;
    top: 10em;
    left: 50%;
    -webkit-transform: rotate(-5deg);
  }
}
/**
 * Smaller screens
 */
@media only screen and (max-width: 510px) {
  body {
    padding: 0.7em;
  }
}
